.app-wrapper {
  display: grid;

  grid-template-areas:
    "h h"
    "n c";
  grid-template-rows: 1fr 10fr ;
  grid-template-columns: 2fr 12fr;
  grid-gap: 10px;
  margin: 0 auto;
  width: 1200px;
}

#root{
  background-color: #e1d8fc;
}

.app-wrapper-content {
  grid-area: c;
    
}
